/* ====================================
   Content styling
==================================== */

.sidebar {
    @include padding( $spacing-large null );
    @include position( fixed, 0 null null 0 );
    width: 270px;
    min-height: 100%;
    background: $c-main;
    color: rgba($black, .6);

    h1,h2,h3,h4,h5,h6,p,a {
        @include padding( null $gutter );
        color: rgba($white, .6);
    }

    a {
        font-weight: normal;
        &:hover {
            color: $black;
        }
    }

    ul { margin: 0; padding: 0; margin-bottom: $spacing-medium; list-style-type: none; }

    li { margin: 0; }

    .search input {}
}

.main-content {
    padding-left: 270px;
    width: 100%;
}


.docs {

    h1,h2,h3,h4,h5,h6,p,hr,ul,ol,pre {
        max-width: 720px;
        @include margin( null auto);
        @include padding( null $gutter );
    }

    &__section-title {
        padding-top: $spacing-large;
    }


    &__item {
        @extend %clearfix;
        @include padding( $spacing-large null );
        // box-shadow: 0 1px 3px rgba( $black, .2 );
        margin-bottom: $spacing-large;
        background: $white;
        margin: 0 auto;
    }

    &__item {
        border-top: 1px solid $grey;
        border-bottom: 1px solid $grey;
        margin-bottom: $spacing-medium;


        &__header {

            .link {
                opacity: 0;
                color: $grey;
                &:hover {
                    color: $black;
                }
            }

            &:hover .link { opacity: 1; }
        }
    }


}