/* ====================================
   Content styling
==================================== */

.sidebar {
    @include radial-gradient( circle at 100% 0%, $c-main, $c-sec );
    background: $c-sec;
    color: $c-sec80;

    @include bp-medium {
        @include position( fixed, 0 null null 0 );
        width: 270px;
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;
        border-right: 5px solid $c-accent--d;
    }

    @include below(700px) {
        position: sticky;
        top: 15px;

        &.sticky {
            position: sticky;
            top: 0;
        }
    }

    h1,h2,h3,h4,h5,h6,p,a {
        @include padding( null $gutter );
        color: $c-sec20;
    }

    a {
        font-weight: normal;
        display: block;
        &:hover {
            color: $white;
            background: rgba( $black, .1 );
        }
    }

    hr {
        border-color: $c-sec80;
    }

    ul { margin: 0; padding: 0; margin-bottom: $spacing-medium; list-style-type: none; }

    li {
        margin: 0;

        a { @include padding( 10px null ); }
    }

    .list-small {
        @include padding( 10px null );
        background: rgba( $black, .1 );
        a {
            @include padding( 3px null );
            &:hover {
                color: $white;
                background: transparent;
            }
        }
    }

    .search input {}
}

.main-content {
    width: 100%;
    padding-bottom: 100vh;

    @include bp-medium {
        padding-left: 270px;
    }
}