/* ====================================
   Header styling
==================================== */

.main-header {
    text-align: center;
    position: relative;
    @include padding( $spacing-large null );

    .site-title {
        margin-bottom: 0;

        a {
            @include transition;
            padding: 10px;
            display: inline-block;
            border: 5px solid rgba( $white, .1 );
            font-weight: bold;

            &:hover {
                color: $c-main;
                background: $white;
            }
        }

        svg {
            fill: currentcolor;
            width: 110px;
            height: 80px;
            display: block;
        }
    }
}
