/* ====================================
   Header styling
==================================== */

.main-header {
    text-align: center;
    position: relative;

    .site-title {
        margin-bottom: 0;

        a {
            @include transition;
            padding: 10px;
            display: inline-block;
            border: 5px solid rgba( $white, .1 );
            font-weight: bold;

            &:hover {
                color: $c-main;
                background: $white;
            }
        }
    }


    @include bp-medium {
        margin-bottom: $spacing-large;
    }
}