/* ====================================
   Header styling
==================================== */

.main-header {
    text-align: center;
    margin-bottom: $spacing-large;

    .site-title a {
        @include transition;
        padding: 10px;
        display: inline-block;
        border: 5px solid $c-sec80;
        font-weight: bold;

        &:hover {
            color: $c-sec;
            background: $white;
            box-shadow: 0 0 3px rgba( $black, .4 );
        }
    }
}