/* ====================================
    Navigation
==================================== */

.main-navigation {
    @include padding( $spacing-large $gutter );
    text-align: center;

    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        border-bottom: 1px solid $c-accent;
        display: inline-block;
    }

    li {
        display: inline-block;
        margin: 0;
        padding: $gutter;
    }
}

.docs-navigation {
    display: none;
    padding-top: $spacing-large;

    @include bp-medium { display: block; }

    @include below($bp-medium) {
        @include position( fixed, 0 null null 0 );
        @include size(100%);
        background: rgba( #222, .95 );
        z-index: 10;
        overflow-x: hidden;
        overflow-y: auto;
        color: rgba( $white, .6 );

        hr {
            display: none;
        }
    }

    html.navigation-is-active & {
        display: block;
    }


    &-trigger {
        @include transition;
        @include padding( null 0 );
        font-size: 2em;
        width: 3em;
        height:      68px;
        line-height: 68px;
        color: $c-sec20;
        text-align: center;
        cursor: pointer;

        &:hover,
        html.navigation-is-active & {
            color: $white;
        }

        @include bp-medium {
            display: none;
        }

        header.main-header & {
            @include position( absolute, 33px 0 null null );
        }

        .docs-navigation & {
            &:hover {
                background: $c-warning;
            }
            @include position( fixed, 0 0 null null );
        }
    }
}