/* ====================================
    Navigation
==================================== */

.navigation {
    display: none;

    @include bp-medium { display: block; }

    html.navigation-is-active & {
        display: block;
    }


    &-trigger {
        @include position( absolute, 0 0 null null );
        @include padding( null 0 );
        font-size: 2em;
        width: 3em;
        height:      68px;
        line-height: 68px;

        &:hover,
        html.navigation-is-active & {
            color: $white;
        }

        @include bp-medium {
            display: none;
        }
    }
}