{% for node in site.docs %}
{% if node.category == include.category %}
<article class="docs-item" id="{{node.title | replace: " ", "-" | downcase }}" class="{{node.title | replace: " ", "-" | downcase }}">
    <div class="docs-item__container">

        <header class="docs-item__header">
            <h3>
                {{node.title}}
                <a href="#{{site.baseurl}}{{node.title | replace: " ", "-" | downcase }}">
                    <span class="link"><i class="fa fa-link"></i></span>
                </a>
            </h3>
        </header>

        <div class="docs-item__content">
            {{node.content}}
        </div>

    </div>

</article>
{% endif %}
{% endfor %}
