<section class="docs-list__container {{include.category}}">
    <h6 class="docs-list__title">
        {{ include.category | capitalize }}
        <span class="arrow">{% include svg.html id="triangle" %}</span>
    </h6>
    <ul class="docs-list">
    {% for node in site.docs %}
    {% if node.category == include.category %}
        <li>
            <a href="{% if page.title !='Docs' %}{{site.url}}{{site.baseurl}}{%endif%}#{{node.title | replace: " ", "-" | downcase }}">- {{node.title}}</a>
        </li>
    {% endif %}
    {% endfor %}
    </ul>
</section>
