<section class="sidebar">
    <div class="inner">

        {% include header.html %}

        <div class="docs-navigation">

            <div class="docs-navigation-trigger">
                <div class="fa fa-close"></div>
            </div>

            {% for cat in site.data.categories %}
                {% include docs-list.html category=cat %}
            {% endfor %}


            <hr>

            <ul class="list-small">
            {% for post in site.posts %}
                <li>
                    <a href="{{post.url}}">
                        {{post.title}} - <small><date>{{post.date | date_to_string}}</date></small>
                    </a>
                </li>
            {% endfor %}
            </ul>


        </div>

    </div>
</section>