<section class="sidebar">
    <div class="inner">

        {% include header.html %}

        <div class="navigation">

            <div class="navigation-trigger">
                <div class="fa fa-close"></div>
            </div>

            {% for cat in site.data.categories %}
                {% include docs-list.html category=cat %}
            {% endfor %}

            {% comment %}

            <hr>

            <ul class="list-small">
            {% for node in site.docs %}
                <li>
                    <a href="{{node.url}}">{{node.title}}</a>
                </li>
            {% endfor %}
            </ul>

            {% endcomment %}

        </div>

    </div>
</section>