<div id="{{include.version}}" class="slide-item">

    <header class="heading">
        <h3>#{{include.version}}</h3>
    </header>

    <section class="slides">
        <div class="belt">

            <figure class="slide">
                <img src="{{site.baseurl}}/images/photo-01.jpg" alt="01">
                <figcaption class="slide-caption">
                    Caption
                </figcaption>
            </figure>
            <figure class="slide">
                <img src="{{site.baseurl}}/images/photo-02.jpg" alt="02">
                <figcaption class="slide-caption">
                    Caption
                </figcaption>
            </figure>
            <figure class="slide">
                <img src="{{site.baseurl}}/images/photo-03.jpg" alt="03">
                <figcaption class="slide-caption">
                    Caption
                </figcaption>
            </figure>
            <figure class="slide">
                <img src="{{site.baseurl}}/images/photo-04.jpg" alt="04">
                <figcaption class="slide-caption">
                    Caption
                </figcaption>
            </figure>
            <figure class="slide">
                <img src="{{site.baseurl}}/images/photo-05.jpg" alt="05">
                <figcaption class="slide-caption">
                    Caption
                </figcaption>
            </figure>
            <figure class="slide">
                <img src="{{site.baseurl}}/images/photo-06.jpg" alt="06">
                <figcaption class="slide-caption">
                    Caption
                </figcaption>
            </figure>

        </div>
    </section>

</div>