.main-content {
    transition: all 300ms ease-in-out;
    transform: translateY(0);
    overflow: hidden;

    html.navigation-is-active & {
        transform: translateY(200px);
        opacity: 0;
    }
}

.docs-navigation {
    html.navigation-is-active &,
    html.search-is-active & {
        animation: nav-animation-in $easing;
    }
}

.ani__slide-in {
    animation: slide-in 1s forwards;
}

@keyframes slide-in {
    0% {
        transform: translateY(-100px);
        opacity: .5;
    } 100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes nav-animation-in {
    0% {
        display: none;
        opacity: 0;
        transform: scale(0);
    } 1% {
        display: block;
    } 100% {
        opacity: 100%;
        transform: scale(1);
    }
}