code {
    font-family: monospace;
}

pre {

    overflow: auto;
    color: white;
    padding: 0;
    -moz-tab-size: 2;
    -o-tab-size: 2;
    tab-size: 2;
    -ms-word-break: normal;
    word-break: normal;
    word-break: normal;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
    position: relative;
    margin-bottom: $spacing-large;


    code {
        font-family: 'Source Code Pro', Menlo, Consolas, Monaco, monospace;
        font-size: 0.9rem;
        background: none;
        padding: 15px;
        white-space: pre;
        overflow: auto;
        display: block;
        text-shadow: 0 0 1px rgba( $black, .5 );
    }
}


.highlight code:before {
    content: attr(data-lang);
    display: block;
    font-weight: bold;
    color: rgba(white, .5);
    border-bottom: 1px solid rgba( white, .5 );
    padding-bottom: 5px;
    margin-bottom: $gutter;
}