/*  ====================================
    Spinner styling
    ====================================
$loadercolor: #000
$loaderspeed : 3s


.loader
    +size(100px)
    position: relative
    display: block
    margin: 50px auto


    &-inner
        +size(100%)
        +position( absolute, 0 null null 0 )
        display: block
        background: rgba( $loadercolor, .2 )
        animation: loader $loaderspeed infinite linear

        &:nth-child(2)
            animation-delay: $loaderspeed / 2

@keyframes loader
    0%
        transform: scale(1)
        opacity: 0
    1%
        opacity: 1
    100%
        transform: scale(2)
        opacity: 0
