---
layout: page
---

<!doctype html>
<html class="no-js">

    {% include head.html %}

<body>

    <div id="Top"></div>

    {% include sidebar.html %}

    <div class="main-content">

        <span class="loader">
            <span class="loader-inner"></span>
            <span class="loader-inner"></span>
            <span class="loader-inner"></span>
        </span>

        {% include main-navigation.html %}
        {{ content }}
        <div id="Endnote">{% include svg.html id="logotype" viewbox="110 80" %}</div>
    </div>

    <a href="#Top" class="scrollTop">
        {% include svg.html id="triangle" viewbox="30 20"%}
    </a>

    <script src="{{ site.baseurl }}/assets/js/global.js"></script>

</body>
</html>
